@import 'config';

.mobile-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    min-width: 250px;

    &__wrapper {
        width: 80%;
        max-width: 300px;
        flex-grow: 0;
        flex-shrink: 1;
    }

    &__button {
        font-size: 16px;

        &:first-child {
            margin-bottom: 15px;
        }
    }
}