.app__no-content, .timetable__loader {
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable__loader {
    height: auto;
    flex: 1 1 auto;
}

.app__fetching-error, .timetable__fetching-error {
    text-align: center;
}

.app__no-content .button--404 {
    margin-top: 15px;
}